<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/layout1.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>

        <nav class="navbar">
            <div class="logo"> <img src="~/images/logoo.JPG" alt="logo"> </div>
            <ul>

                <li class="listitem">@Html.ActionLink("Home","Index","Home")</li>
                <li class="listitem">@Html.ActionLink("About","About","Home")</li>
                <li class="listitem">@Html.ActionLink("Contact","Contact","Home")</li>
                <li class="listitem">@Html.ActionLink("Projects","Projects","Home")</li>
                @* <li class = "listitem">@Html.ActionLink("Check Fever","Index","Doctor")</li>*@
                <li class="listitem">@Html.ActionLink("Fever Check","FeverCheck","Doctor")</li>


            </ul>
        </nav>

    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div>
    </div>
    <footer>@DateTime.Today.ToShortDateString() Maqsood-ul Hasan</footer>
</body>
</html>
